*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
	/* background-color: red; */
	width: 600px;
	margin: auto;
	border: 1px solid #000;
	
}
.slider-for img{
	display: block;
	width: 50%;
	padding-bottom: 20px;
	margin: auto;
	/* background-color: gray; */
	text-align: center;
}
.slider-nav{
	width: 50%;
	/* background-color: greenyellow; */
	display: block3;
	margin: 0 auto;
}
.slider-nav img{
	width: 100%;
	margin: 0 10px;
	height: 100px;
	object-fit: cover;
}
.slick-arrow::before{
	content: '';
	background-color: #000;
	color: #fff;
}